@use '../../mixins' as *;

.settingsWindow
{
	@include window;
	max-width: min(800px, 90%);
	min-height: min(800px, 60vh);
	display: grid;
	row-gap: 1rem;
	text-align: left;
	align-content: start;
	padding: 2rem;
}

.checkbox
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 0.2rem;
	align-items: center;

	@media (max-width: 480px)
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1rem;
		margin-bottom: 0.5rem;
	}
}

.slider
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;

	@media (max-width: 480px)
	{
		grid-template-columns: 1fr;
		justify-items: start;
		gap: 0.4rem;
	}

	label
	{
		justify-self: left;
	}

	.track
	{
		display: flex;
	}
}

.dropdown
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;

	label
	{
		justify-self: left;
	}

	select
	{
		width: 80%;
	}

	@media (max-width: 480px)
	{
		grid-template-columns: 1fr;
		justify-items: start;
		gap: 0.4rem;
	}
}
