@use '../variables' as *;

.gameDescription
{
	width: 100%;
	max-width: min(650px, 98vw);
	font-size: 1.1rem;
	text-shadow: 0 2px 16px rgba(0, 0, 0, 0.8);
	margin: 0 auto;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 30%, transparent 70%);
	padding: 1.5rem 2.5rem;
	margin-top: -2.5rem;
	font-family: $text-font;
}
