@use '../mixins' as *;
@use '../variables' as *;

.profileWindow
{
	@include window;
	max-width: min(800px, 90%);
	min-height: min(800px, 60vh);
	display: grid;
	row-gap: 1rem;
	text-align: left;
	align-content: start;
	padding: 2rem;
	font-family: $text-font;

	@media (max-width: 480px)
	{
		row-gap: 1.25rem;
	}

	@media (max-width: 400px)
	{
		padding: 1rem;
	}
}

.tabs
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 2rem;
	margin-bottom: 0.75rem;
}

.tab
{
	width: fit-content;
	font-size: 0.8rem;
	border-bottom: 1px solid $primary-text-color;
	cursor: pointer;
}




