# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# virtual environments
.venv/
venv/
env/

# environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# tests and coverage
.pytest_cache/
.coverage
htmlcov/
