@use '../../mixins' as *;
@use '../../variables' as *;

.chatWindow
{
	@include window;
	@include menuWindow;

	max-width: max(500px, 60%);
	row-gap: 0.3rem;
	padding: 1rem;
	font-size: 0.7rem;
	margin-left: 0rem;
	grid-template-rows: auto 1fr auto ;

	@media (max-width: 720px)
	{
		margin: 0 auto;
		max-width: 100%;
	}
}
