@use '../../mixins' as *;
@use '../../variables' as *;

.friendsWindow
{
	@include window;
	@include menuWindow;

	max-width: max(300px, 40%);
	row-gap: 0.2rem;
	padding: 1rem;
	font-size: 0.7rem;
	margin-right: 0rem;

	@media (max-width: 720px)
	{
		margin: 0 auto;
		max-width: 100%;
	}
}

.friendsListTitle
{
	font-size: 0.9rem;
	justify-self: center;
	border-bottom: 1px solid $primary-text-color;
	margin-bottom: 0.5rem;
}
