.player
{
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	margin-bottom: 1rem;
	align-items: center;
}

.playerText
{
	color: #2c1810;
}

.randomizeHp
{
	background-color: #edcc9a;
	padding: 0.2rem 0.5rem;
	color: #3b362f;
	border-style: solid;
	border-color: #6e614d;
}

.randomizeHp:hover
{
	background-color: #cfae7d;
	color: #3b362f;
}
