#game-container
{
	width: 100%;
	min-height: 100vh;
	display: grid;
	gap: 1rem;
	justify-content: center;
	text-align: center;
	align-content: center;
	padding-top: 6vh;
	padding-bottom: 10vh;
	margin: 0 auto;
}
