.menuButtons
{
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: min(340px, 90%);
	margin: 0 auto;
	gap: 1rem;
}

.bottomButtons
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	max-width: min(900px, 90%);
	justify-content: center;
	margin: 0 auto;
	margin-top: 0.75rem;
	gap: clamp(1rem, 5vw, 5rem);

	@media (max-width: 480px)
	{
		:global(.mobileBottom)
		{
			order: 999;
		}

		:global(.mobileTop)
		{
			order: -999;
		}
	}
}

.popupButtons
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	max-width: min(900px, 90%);
	justify-content: center;
	margin: 0 auto;
	gap: 1rem;

	@media (max-width: 480px)
	{
		flex-direction: column;
		gap: 0.3rem;

		:global(.mobileBottom)
		{
			order: 999;
		}

		:global(.mobileTop)
		{
			order: -999;
		}
	}
}
