@use '../variables' as *;

.query
{
	text-align: center;
	font-family: $text-font;
	font-size: 0.8rem;
	font-weight: 800;
}

.operators
{
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;

	.checkbox
	{
		label
		{
			justify-self: center;
			font-size: 0.7rem;
		}

		@media (max-width: 480px)
		{
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;
		}
	}
}
