@use './variables' as *;

@mixin window
{
	width: 100%;
	background-color: $window-bg-color;
	border: $window-border;
	border-radius: $window-border-radius;
	padding: 0.5rem;
	margin: 0 auto;
}

@mixin pageTitle
{
	width: fit-content;
	max-width: 100%;
	text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
	text-align: center;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.7) 0%, transparent 70%);
	margin: 0 auto;
	margin-bottom: -1rem;
}

@mixin buttonV1
{
	width: fit-content;
	font-size: 0.8rem;
	padding: 0.2rem 1rem;
	padding-bottom: 0.1rem;
	background-color: $button-v1-bg-color !important;

	&:hover
	{
		background-color: $button-v1-hover-bg-color !important;
		color: $button-v1-hover-color !important;
	}
}

@mixin profileInfo
{
	display: grid;
	column-gap: 1.5rem;
	row-gap: 1rem;
	font-size: 0.7rem;
	align-items: center;
}
