$grey-light: #4a4a5a;
$grey-dark: #2a2a35;
$grey-dark-v2: #2a2a2f;
$grey-darker: #212129;
$grey-darkest: #18181f;
$grey-darkest-v2a: #1e1f21;
$grey-darkest-v2b: #17181a;
$grey-brown: #71695D;
$grey-brown-darker: #4f483c;
$golden-brown: #8a7a5a;
$creme-beige: #e8dcc8;
$creme-beige-dark: #d6cdc2;
$creme-beige-darker: #a89f94;
$creme-beige-light: #e6ddce;
$creme-beige-lighter: #e1dcd3;
$moss-green-dark: #252729;
$moss-green-darker: #1b1d1d;
$muddy-gold: #8a7d5a;
$muddy-gold-lighter: #a9a183;
$muddy-gold-light: #938d79;
$muddy-gold-dark: #4f4728;
$orange: #ff6600;
$red-dark: #ab0f0f;
$red-darker: #370808;
$blue-dark: #0f14ab;
$blue-darker: #080937;
$near-black: #101010;

$primary-text-color: $creme-beige;
$button-bg-color: $grey-dark;
$button-hover-bg-color: $grey-darkest;
$button-hover-color: $creme-beige-lighter;
$button-border-color: $grey-brown;
$button-v1-bg-color: $moss-green-dark;
$button-v1-hover-bg-color: $moss-green-darker;
$button-v1-hover-color: $creme-beige-light;
$button-v2-color: $creme-beige-dark;
$button-v2-bg-color: $grey-darkest-v2a;
$button-v2-hover-bg-color: $grey-darkest-v2b;
$button-v2-hover-color: $creme-beige-light;
$window-bg-color: $grey-dark;
$window-border-color: $grey-light;
$game-menu-bg-color: $grey-dark-v2;
$game-menu-border-color: $grey-brown-darker;
$input-bg-color: $grey-darkest;
$input-border-color: $grey-light;
$input-focus-border-color: $golden-brown;
$error-color: $orange;
$slider-track-bg-color: $muddy-gold;
$slider-thumb-bg-color: $muddy-gold-lighter;
$slider-thumb-focus-bg-color: $muddy-gold-light;
$slider-thumb-border-color: $muddy-gold-dark;
$profile-label-color: $creme-beige-darker;
$profile-avatar-border-color: $grey-light;
$profile-edit-color: $creme-beige-darker;
$panel-bg-color: $grey-darker;

$app-title-font: 'Cinzel Decorative', serif;
$menu-title-font: 'Cinzel', serif;
$text-font: 'Cinzel', serif;
$button-font: 'Lato', sans-serif;
$input-font: 'Lato', sans-serif;

$window-border: 5px solid $window-border-color;
$window-border-radius: 4px;

$bar-border: 2px solid;
$bar-border-color: $near-black;
$bar-width: min(10rem, 40%);
$bar-height: 0.8rem;
$bar-color-hp-middle: $red-dark;
$bar-color-hp-sides: $red-darker;
$bar-color-hp: linear-gradient(to bottom, $bar-color-hp-sides, $bar-color-hp-middle, $bar-color-hp-middle, $bar-color-hp-sides);
$bar-color-mp-middle: $blue-dark;
$bar-color-mp-sides: $blue-darker;
$bar-color-mp: linear-gradient(to bottom, $bar-color-mp-sides, $bar-color-mp-middle, $bar-color-mp-middle, $bar-color-mp-sides);
$bar-font: 'Lato', sans-serif;
