@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel Decorative:wght@400&display=swap');



/* GENERAL */

*, *::before, *::after
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: $primary-text-color;
}

body, html, #root
{
	font-size: 24px;
	overflow-x: hidden;
	height: 100%;
}

@media (max-width: 480px)
{
	body, html, #root
	{
		font-size: 20px;
	}
}

label
{
	user-select: none;
	font-family: $text-font;
	font-size: 0.8rem;
}



/* INPUT STYLING */

textarea
{
	background-color: $input-bg-color;
	border: 1px solid $input-border-color;
	border-radius: 2px;
	padding: 0.2rem 0.4rem;
	padding-top: 0.3rem;
	font-family: $input-font;
	font-size: 0.7rem;
	outline: none;

	&:focus
	{
		border-color: $input-focus-border-color;
	}
}

input[type="text"], input[type="password"]
{
	width: 100%;
	background-color: $input-bg-color;
	border: 1px solid $input-border-color;
	border-radius: 2px;
	padding: 0.2rem 0.4rem;
	padding-top: 0.3rem;
	font-family: $input-font;
	font-size: 0.7rem;
	outline: none;
	margin-bottom: 0.3rem;

	&:focus
	{
		border-color: $input-focus-border-color;
	}
}

input[type="number"]
{
	width: 7ch;
}

input[type="number"], select
{
	background-color: $input-bg-color;
	border: 1px solid $input-border-color;
	border-radius: 2px;
	padding: 0.2rem;
	padding-left: 0.3rem;
	padding-top: 0.3rem;
	font-size: 0.6rem;
	font-family: $input-font;

	&:focus
	{
		border-color: $input-focus-border-color;
		outline: none;
	}
}

input[type="checkbox"]
{
	width: 0.7rem;
	height: 0.7rem;
	margin: auto;
	accent-color: $input-bg-color;
	outline: 2px solid $input-border-color;
}

input[type="range"]
{
	width: 100%;
	-webkit-appearance: none;
	appearance: none;
	background-color: $grey-dark;

	@media (max-width: 480px)
	{
		margin-left: 0.15rem;
	}
}

input[type="range"]::-moz-range-track
{
	background-color: $slider-track-bg-color;
	height: 4px;
	border-radius: 8px;
}

input[type="range"]::-webkit-slider-runnable-track
{
	background-color: $slider-track-bg-color;
	height: 4px;
	border-radius: 8px;
}

input[type="range"]::-moz-range-thumb
{
	background-color: $slider-thumb-bg-color;
	border-color: $slider-thumb-border-color;
	border-width: 3px;
	border-radius: 16px;

	&:hover
	{
		background-color: $slider-thumb-focus-bg-color;
	}
}

input[type="range"]::-webkit-slider-thumb
{
	-webkit-appearance: none;
	background-color: $slider-thumb-bg-color;
	border-color: $slider-thumb-border-color;
	border-width: 3px;
	border-style: solid;
	border-radius: 16px;
	height: 16px;
	width: 16px;
	margin-top: -6px;
	cursor: pointer;
}



/* BUTTON STYLING */

button
{
	border: 1px solid $button-border-color;
	border-radius: 8px;
	font-family: $button-font;
	transition: background-color 0.2s ease;
}



/* GAME */

#game-container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
