@use '../../variables' as *;

.combatButton
{
	position: absolute;
	width: $combat-button-width;
	height: $combat-button-height;
	font-size: $combat-button-font-size;
	background-color: $button-v1-bg-color;
	padding: 0.4rem;
	padding-top: 0.45rem;
	text-align: center;

	@media ( max-height: 480px )
	{
		width: $combat-ui-down-scale-a * $combat-button-width;
		height: $combat-ui-down-scale-a * $combat-button-height;
		font-size: $combat-ui-down-scale-a * $combat-button-font-size;
	}

	@media ( max-height: 320px )
	{
		width: $combat-ui-down-scale-b * $combat-button-width;
		height: $combat-ui-down-scale-b * $combat-button-height;
		font-size: $combat-ui-down-scale-b * $combat-button-font-size;
	}

	&:hover
	{
		background-color: $button-v1-hover-bg-color;
		color: $button-v1-hover-color;
	}

	&:disabled
	{
		opacity: 50%;
		pointer-events: none;
	}
}

.attackButton
{
	bottom: 30%;
	right: calc(var(--combat-ui-inset-x, 0px) + 1rem);
}

.drawButton
{
	bottom: 30%;
	left: calc(var(--combat-ui-inset-x, 0px) + 1rem);
}

.resetButton
{
	top: 20%;
	left: calc(var(--combat-ui-inset-x, 0px) + 1rem);
}
