@use '../../variables' as *;

@mixin shadow
{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: 8em;
	height: 4em;
	background: radial-gradient(
		ellipse at center,
		rgba(0, 0, 0, 0.80) 0%,
		rgba(0, 0, 0, 0.40) 40%,
		rgba(0, 0, 0, 0) 80%
	);
	filter: blur(4px);
	z-index: -1;
}

.targetNumbers
{
	position: absolute;
	top: 55%;
	left: 50%;
	width: fit-content;
	height: fit-content;
	transform: translateX(-50%) translateY(-50%) scale(var(--combat-ui-bg-scale));
	pointer-events: none;
	font-family: 'm6x11', sans-serif;
}

.targetNumber
{
	position: absolute;
	top: var(--y);
	left: var(--x);
	transform: translateX(-50%) translateY(-50%);
	color: var(--color);
	font-size: 2rem;
	animation: drift var(--duration) cubic-bezier(0.45, 0.40, 0.55, 0.60) infinite;

	&::before
	{
		@include shadow();
	}
}

@keyframes drift
{
	0%   { translate: 0 0; }
	20%  { translate: calc(var(--drift-x) * 0.4) calc(var(--drift-y) * -0.6); }
	45%  { translate: calc(var(--drift-x) * -0.3) calc(var(--drift-y) * -1); }
	70%  { translate: calc(var(--drift-x) * -1) calc(var(--drift-y) * 0.3); }
	100% { translate: 0 0; }
}
