@use '../../variables' as *;

@property --percentage
{
	syntax: '<percentage>';
	initial-value: 100%;
	inherits: false;
}

.turnTimer
{
	position: absolute;
	top: 1rem;
	left: 50%;
	width: $turn-timer-width;
	height: $turn-timer-height;
	transform: translateX(-50%) scaleX(-1);
	border-radius: 50%;
	background: conic-gradient($muddy-gold-light var(--percentage), transparent var(--percentage));
	pointer-events: none;
	animation: countdown var(--turn-duration) linear forwards;

	@media ( max-height: 480px )
	{
		width: $combat-ui-down-scale-a * $turn-timer-width;
		height: $combat-ui-down-scale-a * $turn-timer-height;
	}

	@media ( max-height: 320px )
	{
		width: $combat-ui-down-scale-b * $turn-timer-width;
		height: $combat-ui-down-scale-b * $turn-timer-height;
	}
}

@keyframes countdown
{
	from { --percentage: 100%; }
	to { --percentage: 0%; }
}
