@use '../../mixins' as *;

.accountInfo
{
	@include profileInfo;
	grid-template-columns: max-content minmax(max-content, 1fr) 2fr;
}

.textInfo
{
	margin-left: 0.2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	// text-align: center
}
