@use '../../variables' as *;

.avatarsLabel
{
	text-align: center;
	margin-bottom: 0.75rem;
}

.avatars
{
	display: flex;
	flex-wrap: wrap;
	margin: 0.5rem;
	justify-content: center;
	column-gap: 1.75rem;
	row-gap: 0.75rem;
}

.avatar
{
	cursor: pointer;
	transition: border-color 0.2s ease;

	&:hover
	{
		border-color: $golden-brown;
	}
}

.uploadAvatar
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
	margin: 0.5rem 0 1.5rem;
}

.fileInput
{
	display: none;
}

.fileButton
{
	padding: 0.4rem 0.8rem;

	border: 2px solid $golden-brown;
	border-radius: 0.25rem;

	cursor: pointer;
	font-weight: bold;

	&:hover
	{
		background-color: $golden-brown;
	}
}

.fileName
{
	max-width: 12rem;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
